
#kepala{
    background-color:#000;
    padding-top:14;
    padding-bottom:2; 
}

#pesan{
    background-color:#000;
    padding:10;
    position:relative;
    left:110;
    cursor:pointer;
    font-color:#000;
}

#notifikasi{
    background-color:#000;
    font-size:8pt;
    position:relative;
    top:-4;
    font-color:#000;
}

#info{
    width:200px;
    padding:3;
    position:absolute;
    left:110;
    background-color:#bbb;
    z-index:1000;
    display:none;
font-color:#000;}


.info2{
    font-family:arial;
    font-size:10pt;
    font-color:#000;}

#content{
    padding:14;
    margin-top: 14px;
    margin-right: 10px;
    font-color:#000;
    }

a{
    text-decoration:none}

a:hover{
    text-decoration:underline}

a.home{
    color:#000}

#loading{
    height:50;
    display:none;
    font-color:#000;
}
